.list-card {
    text-align: center;
    background: url(https://images.unsplash.com/photo-1453090927415-5f45085b65c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid aqua;
    border-radius: 25px;
}

.list-card > button {
    border: 5px solid aqua;
    border-radius: 25px;
}

.list-card > h1 {
    font-family: 'Rock Salt', cursive;
    color: aqua;
    text-shadow: 3px 3px black;
}